// Place all the styles related to the training_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_training_post {
  padding: 20px 80px;
}

.map, .show_map {
  height: 320px;
  width: 100%;
}
